<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902473744606-ot0i245f7mq43eqvq6hvr3ihoq9hso5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902473744606-ot0i245f7mq43eqvq6hvr3ihoq9hso5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCqHKgrU_6hbTll4icgNa6uKY1KUEdkujk</string>
	<key>GCM_SENDER_ID</key>
	<string>902473744606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-991ea</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-991ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902473744606:ios:299f31f998fd4f61e9c24f</string>
</dict>
</plist>